{% extends 'base.html' %}
{% block 'title' %}Airconditioners{% endblock %}

{% block 'content' %}
    <h1>Oro kondicionerių modeliai:</h1>
<div class="row">
    {% for airconditioner in airconditioners %}
    <div class="col-md-4 d-flex align-items-strech">
        <div class="card mb-4 shadow-sm" style="width:300px">
            {% if airconditioner.cover %}
            <a href="{% url 'airconditioner' airconditioner.pk %}">
                <img src="{{ airconditioner.cover.url }}" class="card-img-top" alt="{{ ... }}" style="height: 250px; width: 250px; object-fit: contain;">
            </a>
            {% endif %}
            <p><a href="{% url 'airconditioner' airconditioner.pk %}" style="color: black; text-decoration: none;"><strong>{{ airconditioner.manufacturer.name }} - {{ airconditioner.model_name }}</strong></a></p>
        </div>
    </div>

    {% endfor %}
  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; pirmas</a>
            <a href="?page={{ page_obj.previous_page_number }}">atgal</a>
        {% endif %}

        <span class="current">
            {{ page_obj.number }} iš {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">pirmyn</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">paskutinis &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
