{% extends 'base.html' %}
{% load i18n %}
{% block 'title' %}{% trans "Air conditioner" %}{% endblock %}

{% block 'content' %}
    {% if airconditioner.cover %}
        <img src="{{ airconditioner.cover.url }}" style="width: 300px; height: 300px; object-fit: contain;">
    {% endif %}
    <h1>{{ airconditioner.manufacturer }}</h1>
    <p><strong>{% trans "Model:" %} </strong>{{ airconditioner.model_name }}</p>
    <p><strong>{% trans "Country of manufacture:" %} </strong>{{ airconditioner.country }}</p>
    <p><strong>{% trans "Model description:" %} </strong>{{ airconditioner.description }}</p>
{% endblock %}