{% extends 'base.html' %}
{% block 'title' %}Manufacturers{% endblock %}

{% block 'content' %}
    <h1>Gamintojai:</h1>
<div class="row">
    {% for manufacturer in manufacturers %}
    <div class="col-md-4 d-flex align-items-strech">
        <div class="card mb-4 shadow-sm" style="width:300px">
            {% if manufacturer.cover %}
            <a href="{% url 'manufacturer' manufacturer.pk %}">
                <img src="{{ manufacturer.cover.url }}" class="card-img-top" alt="{{ ... }}" style="height: 200px; width: 200px; object-fit: contain;">
            </a>
            {% endif %}
            <p><a href="{% url 'manufacturer' manufacturer.pk %}" style="color: black; text-decoration: none;"><strong>{{ manufacturer.name }}</strong></a></p>
        </div>
    </div>

    {% endfor %}
</div>
    <div class="container puslapiai">
        <nav aria-label="...">
            {% if manufacturers.has_other_pages %}
            <ul class="pagination pagination-sm justify-content-center">
                {% for i in manufacturers.paginator.page_range %}
                {% if manufacturers.number == i %}
                <li class="page-item active">
                    <a class="page-link">{{ i }}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
            {% endif %}
        </nav>
    </div>
    {% endblock %}

