{% extends 'base.html' %}
{% block 'title' %}Vartotojo profilis{% endblock %}

{% block 'content' %}
<div class="content-section">
      <img class="rounded-circle account-img" src="{{ user.profile.photo.url }}">
      <h2 class="account-heading">{{ user.username }}</h2>
      <p class="text-secondary"><strong>El. paštas :</strong> {{ user.email }}</p>
      <p class="text-secondary"><strong>Vardas:</strong> {{ user.first_name }}</p>
      <p class="text-secondary"><strong>Pavardė:</strong> {{ user.last_name }}</p>

      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {% load crispy_forms_tags %}
          <fieldset>
                <legend class="border-bottom mb-4">Profilio informacija</legend>
                {{ u_form | crispy }}
                {{ p_form | crispy }}
          </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Atnaujinti</button>
            </div>
      </form>
</div>
{% endblock %}