{% extends 'base.html' %}
{% block 'title' %}Paieškos rezultatai{% endblock %}

{% block 'content' %}
    <h1>Paieškos "{{ query }}" rezultatai:</h1>

    <h3>Gamintojas:</h3>
    {% if manufacturers %}
        {% for manufacturer in manufacturers %}
            <p><a href="{% url 'manufacturer' manufacturer.pk %}">{{ manufacturer }}</a></p>
            <hr>
        {% endfor %}
    {% else %}
        <p>Gamintojas nerastas.</p>
    {% endif %}

    <h3>Modelis:</h3>
    {% if airconditioners %}
        {% for airconditioner in airconditioners %}
            <p><a href="{% url 'airconditioner' airconditioner.pk %}">{{ airconditioner }}</a></p>
            <hr>
        {% endfor %}
    {% else %}
        <p>Modelis nerastas.</p>
    {% endif %}

    <h3>Techninės specifikacijos:</h3>
    {% if technicalspecifications %}
        {% for technicalspecification in technicalspecifications %}
            <p><a href="{% url 'technicalspecification' technicalspecification.pk %}">{{ technicalspecification }}</a></p>
            <hr>
        {% endfor %}
    {% else %}
        <p>Techninių specifikacijų atitinkančių paieška nerasta.</p>
    {% endif %}
{% endblock %}