{% extends 'base.html' %}
{% load i18n %}
{% block 'title' %}{% trans "Search results" %}{% endblock %}

{% block 'content' %}
    <h1>{% trans "Search results for" %} "{{ query }}":</h1>

    <h3>{% trans "Manufacturer" %}:</h3>
    {% if manufacturers %}
        {% for manufacturer in manufacturers %}
            <p><a href="{% url 'manufacturer' manufacturer.pk %}">{{ manufacturer }}</a></p>
            <hr>
        {% endfor %}
    {% else %}
        <p>{% trans "Manufacturer not found." %}</p>
    {% endif %}

    <h3>{% trans "Model" %}:</h3>
    {% if airconditioners %}
        {% for airconditioner in airconditioners %}
            <p><a href="{% url 'airconditioner' airconditioner.pk %}">{{ airconditioner }}</a></p>
            <hr>
        {% endfor %}
    {% else %}
        <p>{% trans "Model not found." %}</p>
    {% endif %}

    <h3>{% trans "Technical specifications" %}:</h3>
    {% if technicalspecifications %}
        {% for technicalspecification in technicalspecifications %}
            <p><a href="{% url 'technicalspecification' technicalspecification.pk %}">{{ technicalspecification }}</a></p>
            <hr>
        {% endfor %}
    {% else %}
        <p>{% trans "No technical specifications matching the search were found." %}</p>
    {% endif %}
{% endblock %}