{% extends 'base.html' %}
{% load i18n %}
{% block 'title' %}
{% trans "Technical specification" %}
{% endblock %}

{% block 'content' %}
    {% if technicalspecification.cover %}
        <img src="{{ technicalspecification.cover.url }}" style="width: 300px; height: 300px; object-fit: contain;">
    {% endif %}
<h2 style="margin-bottom: 20px;">{{ technicalspecification.air_conditioner.model_name }}</h2>
<p>● {% trans "Indoor unit dimensions" %}: {{ technicalspecification.indoor_unit_dimensions }}</p>
<p>● {% trans "Outdoor unit dimensions" %}: {{ technicalspecification.outdoor_unit_dimensions }}</p>
<p>● {% trans "Energy efficiency class" %}: {{ technicalspecification.energy_efficiency_class }}</p>
<p>● {% trans "Operating temperature" %}: {{ technicalspecification.operating_temperature }}</p>
<p>● {% trans "Outdoor unit weight" %}: {{ technicalspecification.outdoor_unit_weight }}</p>
<p>● {% trans "Indoor unit weight" %}: {{ technicalspecification.indoor_unit_weight }}</p>
<p>● {% trans "Power" %}: {{ technicalspecification.power }} kW</p>
<p><strong style="font-size: 20px;">{% trans "PRICE" %}: {{ technicalspecification.price }} €</strong></p>

{% if user.is_authenticated %}
<hr>
<p><strong>{% trans "Comments" %}:</strong></p>
{% for order in technicalspecification.orders.all %}
<img class="rounded-circle account-img" style="width: 30px" src="{{ order.client.profile.photo.url }}"><br/>
<strong>{{ order.client }}</strong>, <em>{{ order.date_created }}</em>
<p>{{ order.content }}</p>
<hr>
{% endfor %}

<div class="fieldWrapper">
    <hr><br/>
    <p><strong>{% trans "Leave a comment if you are interested in this model and we will contact you soon:" %}</strong></p>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.content }}<br/>
        <input type="submit" value={% trans "Publish" %}>
    </form>
</div>
{% endif %}
{% endblock %}