{% extends 'base.html' %}

{% block 'title' %}
Techninė specifikacija
{% endblock %}

{% block 'content' %}
    {% if technicalspecification.cover %}
        <img src="{{ technicalspecification.cover.url }}" style="width: 300px; height: 300px; object-fit: contain;">
    {% endif %}
<h2 style="margin-bottom: 20px;">{{ technicalspecification.air_conditioner.model_name }}</h2>
<p>● Vidinio bloko matmenys: {{ technicalspecification.indoor_unit_dimensions }}</p>
<p>● Lauko bloko matmenys: {{ technicalspecification.outdoor_unit_dimensions }}</p>
<p>● Energijos efektyvumo klasė: {{ technicalspecification.energy_efficiency_class }}</p>
<p>● Darbinė temperatūra: {{ technicalspecification.operating_temperature }}</p>
<p>● Lauko bloko svoris: {{ technicalspecification.outdoor_unit_weight }}</p>
<p>● Vidinio bloko svoris: {{ technicalspecification.indoor_unit_weight }}</p>
<p>● Galingumas: {{ technicalspecification.power }} kW</p>
<p><strong style="font-size: 20px;">KAINA: {{ technicalspecification.price }} €</strong></p>

<hr>
<p><strong>Komentarai:</strong></p>
{% for order in technicalspecification.orders.all %}
<strong>{{ order.client }}</strong>, <em>{{ order.date_created }}</em>
<p>{{ order.content }}</p>
<hr>
{% endfor %}

{% if user.is_authenticated %}
<div class="fieldWrapper">
    <hr><br/>
    <p><strong>Palikite komentarą, jeigu domina šis modelis ir netrukus su Jumis susisieksime:</strong></p>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.content }}<br/>
        <input type="submit" value="Paskelbti">
    </form>
</div>
{% endif %}
{% endblock %}