{% extends 'base.html' %}
{% load i18n %}
{% block 'title' %}{% trans "Technical specifications:" %}{% endblock %}

{% block 'content' %}
<h1>{% trans "Technical specifications" %}</h1>
<div class="row">
    {% for technicalspecification in technicalspecifications %}
    <div class="col-md-4 d-flex align-items-strech">
        <div class="card mb-4 shadow-sm" style="width:300px">
            {% if technicalspecification.cover %}
            <a href="{% url 'technicalspecification' technicalspecification.pk %}">
                <img src="{{ technicalspecification.cover.url }}" class="card-img-top" alt="{{ ... }}" style="height: 250px; width: 250px; object-fit: contain;">
            </a>
            {% endif %}
            <p><a href="{% url 'technicalspecification' technicalspecification.pk %}" style="color: black; text-decoration: none;"><strong style="font-size: 14px;">{{ technicalspecification.air_conditioner.manufacturer.name }} - {{ technicalspecification.air_conditioner.model_name }} - {{ technicalspecification.power }} kW</strong></a></p>
        </div>
    </div>
    {% endfor %}
</div>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; {% trans "First" %}</a>
            <a href="?page={{ page_obj.previous_page_number }}">{% trans "Previous" %}</a>
        {% endif %}

        <span class="current">
            {% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">{% trans "Next" %}</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">{% trans "Last" %} &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}