{% extends 'base.html' %}
{% load i18n %}
{% block 'title' %}{% trans "Password change" %}{% endblock %}

{% block 'content' %}
<form action="" method="post">
  {% csrf_token %}
  {% if form.email.errors %}
  {{ form.email.errors }}
  {% endif %}
      <p>{% trans "Forgot your password? Enter your email address and we will send you password reset instructions." %}</p>
      <p>{% trans "Email address:" %} <br>{{ form.email }}</p>
    <input type="submit" class="btn btn-secondary btn-sm" value="{% trans 'Reset password' %}">
  </form>
{% endblock %}